body{
    background-color: #D7D8D9;
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    color:#4e4e4e;
    text-align: center;
}
h2{
    background-color: #91A2AC;
    color:#54626B;
}
h4{
    background-color: #ABB8C0;
    color:#4e4e4e;
    font-style: italic;
}
p{
    background-color: #C7CCD2;
    white-space: pre-line;
}
p1{  
    background-color: white; 
}
p3{
    background-color: #C7CCD2;
    font-size: 15px;
}
a{
    color: #487690;
}
a1{
    color: #439FD9;     
}